@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@300&family=Roboto:wght@300;400;700;900&family=Titillium+Web:wght@400;700;900&display=swap');

:root {
  /* grays */
  --gray100: #e6e6e6;
  --gray200: #cccccc;
  --gray300: #b3b3b3;
  --gray400: #999999;
  --gray500: #808080;
  --gray600: #666666;
  --gray700: #4d4d4d;
  --gray800: #333333;
  --gray900: #1a1a1a;
  --white: #ffffff;
  --black: rgb(0, 0, 0);
  --red: #bd3131;

  --primaryColor: rgb(23, 126, 230);
  --primaryHover: rgb(14, 107, 201);

  --shadowColor: #99c3ed;
}
body {
  background: rgb(243, 243, 243);
  background: #fff;
  margin: 0px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

main {
  text-align: center;
  padding: 1em;
  max-width: 800px;
  margin: 0 auto;
  /* margin-bottom: 50px; */
  /* max-height: 90vh; */
  /* overflow-y: auto; */
}
a {
  color: var(--primaryColor);
}
a:hover {
  color: var(--primaryHover);
}
.strong {
  font-weight: 700;
}
input {
  padding: 5px;
  border: solid 1px var(--gray200);
}

button {
  background: var(--primaryColor);
  border: none;
  padding: 5px 10px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background: var(--primaryHover);
}
.button-cancel {
  background: gray;
}
.button-cancel:hover {
  background: #000;
}

.cancel {
  background: var(--gray100);
  color: #000;
}
.cancel:hover {
  background: var(--gray300);
  color: #fff;
}
